coremltools>=7.0
diffusers[torch]
diffusionkit
torch
transformers==4.53.0
scipy
scikit-learn
pytest
invisible-watermark
safetensors
matplotlib
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
