coremltools>=7.0
diffusers[torch]
diffusionkit
torch
transformers==4.53.0
scipy
scikit-learn
pytest
invisible-watermark
safetensors
matplotlib
filelock>=3.20.1 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
